{% extends 'base.html.twig' %}

{% block title %}
   Skbnk - Home
{% endblock %}

{% block body %}
<div class="container-fluid">
  <section>
      <div class="header-custom">
          <nav class="navbar bg-light">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="ex. Data analyst " aria-label="Search">
                <input class="form-control me-2" type="search" placeholder="ex. Paris, IDF" aria-label="Search">
                <button class="btn btn-outline-success search-control" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
          </nav>
          <div class="accroche">
              <h1>Le titre de l'accroche est là</h1>
              <p>Lorem ipsum dolor, sit amet </p>
          </div>
      </div> {# .header-custom #}
  </section>



            <div class="who-are-you">
                <h3>Vous êtes :</h3>
                <span class="i-am"><a href="{{path('app_company')}}" class="i-am-link">Chercheur/use</a></span>
                <span class="i-am"><a href="{{path('app_competent')}}" class="i-am-link">Offreur/use</a></span>
            </div>

              <section>
                <div class="entreprise-a-la-une">
                      <div><img src="{{asset('images/credit_agricole.png')}}" alt="" class="log-company img-fluid d-block"> </div>
                      <div> <img src="{{asset('images/Adidas_Logo.svg.png')}}" alt="" class="log-company img-fluid d-block"> </div>
                      <div> <img src="{{asset('images/total.jpg')}}" alt="" class="log-company img-fluid d-block"> </div>
                      <div> <img src="{{asset('images/logo-allianz-1.jpg')}}" alt="" class="log-company img-fluid d-block"> </div>
                      <div> <img src="{{asset('images/logo-microsoft.png')}}" alt="" class="log-company img-fluid d-block"> </div>
                      <div> <img src="{{asset('images/total.jpg')}}" alt="" class="log-company img-fluid d-block"> </div>
                      <div><img src="{{asset('images/credit_agricole.png')}}" alt="" class="log-company img-fluid d-block"> </div>
                      <div> <img src="{{asset('images/Adidas_Logo.svg.png')}}" alt="" class="log-company img-fluid d-block"> </div>
                      <div> <img src="{{asset('images/total.jpg')}}" alt="" class="log-company img-fluid d-block"> </div>
                      <div> <img src="{{asset('images/logo-allianz-1.jpg')}}" alt="" class="log-company img-fluid d-block"> </div>
                      <div> <img src="{{asset('images/logo-microsoft.png')}}" alt="" class="log-company img-fluid d-block"> </div>
                      <div> <img src="{{asset('images/total.jpg')}}" alt="" class="log-company img-fluid d-block"> </div>
                </div>{# .entreprise-a-la-une #}
              </section>
          <section>
            <div class="job-a-la-une row">
                    <h2>Métiers à l'une</h2>
              <div class="card-job col-md-4">
                    <img src="{{ asset('images/pexels-andrea.jpg')}}" alt="" class="rounded d-block mx-auto imag-job">
                    <h4 class="title-card-job">Développeur Front-End</h4>
              </div>
              <div class="card-job col-md-4">
                    <img src="{{ asset('images/pexels-andrea.jpg')}}" alt="" class="rounded d-block mx-auto imag-job">
                    <h4 class="title-card-job"> Développeur Back-End</h4>
              </div>
              <div class="card-job col-md-4">
                    <img src="{{ asset('images/pexels-andrea.jpg')}}" alt="" class="rounded d-block mx-auto imag-job">
                    <h4 class="title-card-job">Coach Agile</h4>
              </div>
              <div class="card-job col-md-4">
                    <img src="{{ asset('images/pexels-andrea.jpg')}}" alt="" class="rounded d-block mx-auto imag-job">
                    <h4 class="title-card-job">Administreur de Réseaux</h4>
              </div>
              <div class="card-job col-md-4">
                    <img src="{{ asset('images/pexels-andrea.jpg')}}" alt="" class="rounded d-block mx-auto imag-job">
                    <h4 class="title-card-job"> UI Designer</h4>
              </div>
              <div class="card-job col-md-4">
                    <img src="{{ asset('images/pexels-andrea.jpg')}}" alt="" class="rounded d-block mx-auto imag-job">
                    <h4 class="title-card-job">Product Manager</h4>
              </div>
            </div>
              <button type="button" class="btn btn-secondary d-grid gap-2 d-md-block mx-auto">+ métiers</button>

          </section> 
          <section>
            {# {{dump(category)}} #}
              <div class=" categorie-metier">
                  <h2>Secteurs d'activité</h2>
                    {% for category in category %}
                  <div class="job-family">{{category.name}}</div>
              </div>
            {% endfor %}
          </section>

          <section>
              <div class="row job-par-ville">
                <h2>Où trouver des compétences</h2>
                <div class="city-location paris col-md-4" id"">Paris</div>
                <div class="city-location lyon col-md-4" id"">Lyon</div>
                <div class="city-location marseille col-md-4" id"">Marseille</div>
                <div class="city-location lille col-md-4" id"">Lille</div>
                <div class="city-location toulouse col-md-4" id"">Toulouse</div>
                <div class="city-location nantes col-md-4" id"">nantes</div>
              </div>
          </section>

  <section>

      <h2 class="title-why">Sécurité et sérénité pour vous mission</h2>
    <div class="why-sk">
      <!-- START THE FEATURETTES -->
      <div class="row featurette">
              <div class="col-md-7">
                  <h2 class="featurette-heading fw-normal lh-1">Faites ce que vous aimez faire <span class="text-muted">Ont s'occupe du reste</span></h2>
                  <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
              </div>
              <div class="col-md-5">
                  <img src="{{ asset('images/christina-morillo.jpg')}}" class="img-fluid" alt="" class="imag-features">
              </div>
      </div>
      <div class="row featurette">
              <div class="col-md-7 order-md-2">
                  <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                  <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
              </div>
              <div class="col-md-5 order-md-1">
                  <img src="{{ asset('images/christina-morillo.jpg')}}" class="img-fluid" alt="" class="imag-features">
              </div>
      </div>
      <div class="row featurette">
              <div class="col-md-7">
                  <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                  <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
              </div>
              <div class="col-md-5">
              <img src="{{ asset('images/christina-morillo.jpg')}}" class="img-fluid" alt="" class="imag-features">
              </div>
      </div>
      <!-- /END THE FEATURETTES -->
    </div> {# why-skbnk #}
  </section>


</div>
{% endblock %}
        